<!DOCTYPE html>
<html lang="en">
  <%- include("./../partials/head.ejs") %>
  <body>
    <%- include("./../partials/headerDAVIDEexperiment.ejs") %>
    <div class="routes-container">
      <section class="side-bar"><%- include("../partials/" + targetSidebar) %></section>
      <section class="main-content">
        <div class="welcome-message">
          <%- include("../partials/group-message") %>
        </div>
      </section>
    </div>
    <%- include("./../partials/footer.ejs") %>
    <script type="module" src="js/functions.js"></script>
  </body>
</html>
